@if (open) {
  <!-- Overlay -->
  <div class="fixed inset-0 bg-gray-900/30 backdrop-blur-sm z-40" (click)="onClose()"></div>

  <!-- Drawer -->
  <aside
    class="fixed top-0 right-0 h-screen w-full sm:w-220 bg-white shadow-2xl rounded-l-3xl z-50 flex flex-col animate__animated [--animate-duration:500ms]"
    [class.animate__fadeInRight]="!closing"
    [class.animate__fadeOutRight]="closing"
    (animationend)="animationFinished()"
  >
    <!-- Header -->
    <div class="flex items-center justify-between px-6 py-5 border-b border-gray-100">
      <div class="flex items-center gap-3">
        <!-- Icon -->
        <!-- <div class="w-10 h-10 rounded-xl bg-indigo-50 flex items-center justify-center">
          <span class="text-indigo-600 text-lg">

          </span>
        </div> -->

        <div>
          <h2 class="text-lg font-semibold text-gray-800">
            {{ title }}
          </h2>

          <p class="text-sm text-gray-500">
            {{'drawer.manage_information' | translate}}
          </p>
        </div>
      </div>

      <!-- Close Button -->
      <button
        type="button"
        class="w-9 h-9 rounded-xl text-red-600 bg-red-100 hover:bg-red-200 transition flex items-center justify-center cursor-pointer"
        (click)="onClose()"
      >
        <lucide-icon [img]="icons.X"></lucide-icon>
      </button>
    </div>

    <!-- Body -->
    <div class="flex-1 overflow-y-auto p-6">
      <ng-content></ng-content>
    </div>

    <!-- Optional Footer -->
    <!-- <div class="px-6 py-4 border-t border-gray-100 bg-gray-50/50 flex justify-end gap-3">
      <ng-content select="[drawer-footer]"></ng-content>
    </div> -->
  </aside>
}
