<div class="space-y-4">
  <div>
    <h1 class="text-2xl font-semibold text-gray-800">
      {{ 'category.list.title' | translate }}
    </h1>
    <p class="text-sm text-gray-500">
      {{ 'category.list.subtitle' | translate }}
    </p>
  </div>

  <app-stats-grid [stats]="stats"></app-stats-grid>

  <div class="flex flex-col sm:flex-row sm:items-center justify-between gap-3 mt-4">
    <div class="flex items-center gap-3">
      <app-search
        [placeholder]="'category.list.search' | translate"
        (search)="onSearch($event)"
      ></app-search>
    </div>

    <div class="flex items-center justify-end">
      <button
        class="rounded-lg bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-indigo-700 transition flex items-center gap-2 cursor-pointer"
        (click)="openCreateCategory()"
      >
        <lucide-angular [img]="icons.Plus" class="w-4 h-4"></lucide-angular>
        {{ 'category.list.add' | translate }}
      </button>
    </div>
  </div>

  <div class="overflow-hidden rounded-xl border border-gray-200 bg-white shadow-sm">
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50 border-b border-gray-200">
          <tr>
            <th
              class="px-6 py-3 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider"
            >
              #
            </th>

            <th
              class="px-6 py-3 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider"
            >
              {{ 'category.table.name' | translate }}
            </th>

            <th
              class="px-6 py-3 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider"
            >
              {{ 'category.table.description' | translate }}
            </th>

            <th class="px-6 py-3 text-left text-xs font-semibold text-gray-500 uppercase relative">
              <div class="flex items-center gap-2">
                <span>
                  {{ 'user.table.status' | translate }}
                </span>

                <!-- Filter Button -->
                <button
                  type="button"
                  class="inline-flex items-center gap-1 rounded-md border border-gray-200 bg-white px-2 py-1 text-xs font-medium text-gray-600 hover:bg-gray-100 transition cursor-pointer"
                  (click)="toggleStatusDropdown()"
                >
                  <span>
                    {{ statusFilter ? statusFilter : 'All' }}
                  </span>

                  <lucide-icon [img]="icons.ChevronDown" class="w-3 h-3 transition"></lucide-icon>
                </button>

                <!-- Dropdown -->
                @if (statusDropdownOpen) {
                  <div
                    class="absolute top-12 left-6 z-20 w-32 rounded-lg border border-gray-200 bg-white shadow-lg overflow-hidden"
                  >
                    <button
                      class="w-full px-3 py-2 text-left text-sm text-gray-600 hover:bg-gray-50 transition"
                      (click)="onStatusFilter('')"
                    >
                      All
                    </button>

                    <button
                      class="w-full px-3 py-2 text-left text-sm text-gray-600 hover:bg-gray-50 transition flex items-center gap-2"
                      (click)="onStatusFilter('active')"
                    >
                      Active
                    </button>

                    <button
                      class="w-full px-3 py-2 text-left text-sm text-gray-600 hover:bg-gray-50 transition flex items-center gap-2"
                      (click)="onStatusFilter('inactive')"
                    >
                      Inactive
                    </button>
                  </div>
                }
              </div>
            </th>

            <th
              class="px-6 py-3 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider"
            >
              {{ 'supplier.table.createdAt' | translate }}
            </th>

            <th
              class="px-6 py-3 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider"
            >
              {{ 'supplier.table.updatedAt' | translate }}
            </th>

            <th
              class="px-6 py-3 text-right text-xs font-semibold text-gray-500 uppercase tracking-wider"
            >
              {{ 'supplier.table.action' | translate }}
            </th>
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-100">
          @for (category of categories; track category._id; let i = $index) {
            <tr>
              <td class="px-6 py-3 text-sm text-gray-600">
                {{ (page - 1) * limit + i + 1 }}
              </td>

              <td class="px-6 py-3 text-sm font-medium text-gray-900">
                {{ category.name }}
              </td>

              <td class="px-6 py-3 text-sm text-gray-600">
                {{ category.description }}
              </td>

              <td class="px-6 py-3">
                <span
                  class="inline-flex rounded-full px-2.5 py-1 text-xs font-medium capitalize"
                  [ngClass]="
                    category.status === 'active'
                      ? 'bg-green-100 text-green-600'
                      : 'bg-red-100 text-red-600'
                  "
                >
                  {{ category.status }}
                </span>
              </td>

              <td class="px-6 py-3 text-sm text-gray-600">
                {{ category.createdAt | date }}
              </td>

              <td class="px-6 py-3 text-sm text-gray-600">
                {{ category.updatedAt | date }}
              </td>

              <td class="px-6 py-3 text-right">
                <div class="flex justify-end gap-2">
                  <button
                    class="text-gray-600 hover:text-indigo-600 px-3 py-1 rounded-md text-sm cursor-pointer"
                    (click)="edit(category)"
                  >
                    <lucide-icon [img]="icons.Pencil" class="w-4 h-4"></lucide-icon>
                  </button>

                  <button
                    class="text-gray-600 hover:text-red-600 px-3 py-1 rounded-md text-sm cursor-pointer"
                    (click)="delete(category)"
                  >
                    <lucide-icon [img]="icons.Trash2" class="w-4 h-4"></lucide-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
      <div class="flex border-t border-gray-100 px-4 py-3">
        <app-pagination
          [page]="page"
          [totalPage]="totalPage"
          [limit]="limit"
          [totalItems]="totalItems"
          (pageChange)="changePage($event)"
        ></app-pagination>
      </div>

      <app-drawer
        [open]="isDrawerOpen"
        [title]="
          selectedCategory
            ? ('category.form.edit_title' | translate)
            : ('category.form.create_title' | translate)
        "
        (close)="closeDrawer()"
      >
        <app-category-form></app-category-form>
      </app-drawer>
    </div>
  </div>
</div>

<app-confirm-dialog
  [open]="showDeleteDialog"
  [title]="'category.delete.title' | translate"
  [message]="'category.delete.message' | translate: { name: selectedCategory?.name }"
  [confirmText]="'common.delete' | translate"
  [cancelText]="'common.cancel' | translate"
  type="danger"
  (confirm)="confirmDelete()"
  (cancel)="cancelDelete()"
></app-confirm-dialog>
